/* Navbar */
/*
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  padding: 0 2rem;
  background: rgba(204, 204, 204, 0.295);
  z-index: 2;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  margin: auto;
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: rgb(0, 0, 0);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.20rem;
  font-weight: 600;
  font-family: var(--main-font);
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: rgb(238, 238, 238);
}

.show-nav {
  height: 510px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 24em;
    padding: 2.3rem 7rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
*/
/* end of navbar */


.t-nav {
  background-color: rgba(0,0,0,0.3);
  // background-color: 'transparent';
  // background-color: 'rgba(255,255,255,0.5)';
  min-width: 100vw;
  // padding: 90px 10px;
  overflow: hidden;
  color: #fff;
  & > .logo {
    color: #fff;
  }

  .nav-header {
    background-color: rgba(0,0,0,0.3);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 99;
  }

  .nav-links {
    justify-content: center;
    align-items: center;
    & li a {
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      text-shadow: 1px 1px 5px orange;
    }
    & > * {
      margin: auto;
      color: #fff;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    & li a {
      display: flex;
      color: lightgray;
      padding: 10px 30px;
      text-decoration: none;
    }
    & > * {
      color: #fff;
    }
  }
}

@media screen and (max-width: 600px) {
  .t-nav {
    // padding: 20px 10px !important;
    margin: auto;
    width: 100vw;
    flex-direction: row;
    position: relative;

    & .logo{
      width: 100%;
    }
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
}