.cover {
    background-image: url("../../assets/main-door7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    margin-top: 3%;
    margin-bottom: 3%;
    background-position: right;
}

.cover-bg {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex: 60%;
  flex: 60%;
  max-width: 60%;
  // background-color: blue;
}

.cover-text {
  text-align: center;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%;
  padding: 170px 50px;
  margin: auto;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
  float: left;
  display: flex;
  
  & > h1 {
    margin: auto;
    text-align: center;
    color: cornsilk;
    font-style: initial;
    font-family: cursive;
    animation: h1 1s ease-in-out infinite alternate;
  }

  @keyframes h1 {
    from {
      text-shadow: 0 0 10px rgb(243, 219, 121), 0 0 20px rgb(240, 208, 80), 0 0 30px rgb(253, 212, 49), 0 0 40px rgb(225, 180, 0), 0 0 50px rgb(225, 180, 0), 0 0 60px rgb(225, 180, 0), 0 0 70px rgb(225, 180, 0);
    }
    
    to {
      text-shadow: 0 0 20px rgb(243, 219, 121), 0 0 30px rgb(240, 208, 80), 0 0 40px rgb(253, 212, 49), 0 0 50px  rgb(221, 171, 5), 0 0 60px rgb(221, 171, 5), 0 0 70px rgb(221, 171, 5), 0 0 80px rgb(221, 171, 5);
    }
  }
}

.cover-text2 {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -ms-flex: 100%;
  flex: 100%;
  max-width: 100%; 
  padding: 80px 50px;
  // background-color: aquamarine;
}

.cover-p1 {
  margin: auto;
  display: flex;
  //-ms-flex: 100%;
  flex: 100%;
  text-align: left;
  width: 100%;
  margin-top: -3%;
  float: left;
  margin-left: 10%;
  // background-color: violet;

  p {
    color: lightseagreen;
    font-size: 30px;
    position: relative;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    animation-name: slide;
    animation-duration: 4s;
  }

  @keyframes slide {
    0% {left: -140%}
    100% {left: 0%}
  }
}

.cover-p2 {
  margin: auto;
  display: block;
  // -ms-flex: 100%;
  flex: 100%;
  width: 100%;
  // max-width: 100%;
  float: right;
  margin-right: 10%;
  text-align: right;
  margin-top: 3%;
  // background-color: aqua;

  p {
    color: lightseagreen;
    font-size: 30px;
    position: relative;
    text-decoration: underline;
    text-decoration-color: aquamarine;
    animation-name: slide2;
    animation-duration: 4s;
  }

  @keyframes slide2 {
    0% {background-color: transparent; color: transparent; text-decoration-color: transparent; right: -100%}
    100% {right: 0%}
  }
}

.cover-text3 {
  padding: 100px 50px;
}


@media screen and (max-width: 1400px) {
  .cover {
    background-image: url("../../assets/main-door7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // min-width: fit-content;
    margin-top: 5%;
    margin-bottom: 3%;
  }

  .cover-bg {
    max-width: 100%;
    margin: auto;
    // background-color: aqua;
    // margin-bottom: 0%;
  }

  .cover-text {
    text-align: center;
    -ms-flex: 80%;
    flex: 80%;
    max-width: 80%;
    padding: 30px 50px;
    margin: auto;
    // margin-left: 10%;
    // margin-right: 10%;
    // margin-top: 70%;
    margin-left: 0%;
    float: left;
    display: flex;
    // background-color: antiquewhite;
    margin-top: 8%;
    margin-bottom: 20%;
    
    & > h1 {
      // margin: auto;
      margin-left: 8%;
      margin-right: 8%;
      font-size: 55px;
      text-align: center;
      color: cornsilk;
      font-style: initial;
      font-family: cursive;
      animation: h1 1s ease-in-out infinite alternate;
    }
  }
  
  .cover-text2 {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex: 80%;
    flex: 80%;
    max-width: 80%; 
    padding: 80px 50px;
    margin-bottom: 8%;
    // background-color: aquamarine;
  }
  
  .cover-p1 {
    margin: auto;
    display: flex;
    //-ms-flex: 100%;
    flex: 100%;
    text-align: left;
    width: 100%;
    margin-top: -3%;
    float: left;
    margin-left: 10%;
    // background-color: violet;
  
    p {
      color: lightseagreen;
      font-size: 30px;
      position: relative;
      text-decoration: underline;
      text-decoration-color: aquamarine;
      animation-name: slide;
      animation-duration: 4s;
    }
  
    @keyframes slide {
      0% {left: -140%}
      100% {left: 0%}
    }
  }
  
  .cover-p2 {
    margin: auto;
    display: block;
    // -ms-flex: 100%;
    flex: 100%;
    width: 100%;
    // max-width: 100%;
    float: right;
    margin-right: 10%;
    text-align: right;
    margin-top: 3%;
    // background-color: aqua;
  
    p {
      color: lightseagreen;
      font-size: 30px;
      position: relative;
      text-decoration: underline;
      text-decoration-color: aquamarine;
      animation-name: slide2;
      animation-duration: 4s;
    }
  
    @keyframes slide2 {
      0% {background-color: transparent; color: transparent; text-decoration-color: transparent; right: -100%}
      100% {right: 0%}
    }
  }
}

  
@media screen and (max-width: 830px) {
  .cover {
    background-image: url("../../assets/main-door6.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    // max-width: fit-content;
    margin-top: 8%;
    margin-bottom: 3%;
  }

  .cover-bg {
    max-width: 100%;
    margin: auto;
    // background-color: aqua;
    // margin-bottom: 0%;
  }

  .cover-text {
    text-align: center;
    -ms-flex: 60%;
    flex: 60%;
    max-width: 60%;
    padding: 30px 50px;
    margin: auto;
    // margin-top: 70%;
    margin-left: 3%;
    float: left;
    display: flex;
    // background-color: antiquewhite;
    margin-top: 8%;
    margin-bottom: 50%;
    
    & > h1 {
      // margin: auto;
      font-size: 45px;
      text-align: center;
      color: cornsilk;
      font-style: initial;
      font-family: cursive;
      animation: h1 1s ease-in-out infinite alternate;
    }
  }
  
  .cover-text2 {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; 
    margin: auto;
    margin-top: -3%;
    padding: 30px 50px;
    margin-bottom: 10%;
    // background-color: aquamarine;
  }
  
  .cover-p1 {
    margin: auto;
    display: flex;
    //-ms-flex: 100%;
    flex: 100%;
    text-align: left;
    width: 100%;
    margin-top: -3%;
    float: left;
    margin-bottom: 0%;
    margin-left: 3%;
    // background-color: violet;
  
    p {
      color: aquamarine;
      font-size: 25px;
      position: relative;
      text-decoration: underline;
      text-decoration-color: aquamarine;
      animation-name: slide;
      animation-duration: 4s;
    }
  
    @keyframes slide {
      0% {left: -100%}
      100% {left: 0%}
    }
  }
  
  .cover-p2 {
    margin: auto;
    display: block;
    // -ms-flex: 100%;
    flex: 100%;
    width: 100%;
    // max-width: 100%;
    margin: auto;
    float: right;
    margin-right: 3%;
    text-align: right;
    margin-top: 3%;
    margin-bottom: 0%;
    // background-color: aqua;
  
    p {
      color: aquamarine;
      font-size: 25px;
      position: relative;
      text-decoration: underline;
      text-decoration-color: aquamarine;
      animation-name: slide2;
      animation-duration: 4s;
    }
  
    @keyframes slide2 {
      0% {right: -100%}
      100% {right: 0%}
    }
  }

  .cover-text3 {
    padding: 0px 0px;
  }
}


@media screen and (max-width: 600px) {
  .cover {
    background-image: url("../../assets/main-door6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // max-width: fit-content;
    margin-top: 10%;
    margin-bottom: 3%;
  }

  .cover-bg {
    max-width: 100%;
    margin: auto;
    // background-color: aqua;
    // margin-bottom: 0%;
  }

  .cover-text {
    text-align: center;
    -ms-flex: 60%;
    flex: 60%;
    max-width: 60%;
    padding: 30px 50px;
    margin: auto;
    // margin-top: 70%;
    margin-left: 3%;
    float: left;
    display: flex;
    // background-color: antiquewhite;
    margin-top: 8%;
    margin-bottom: 50%;
    
    & > h1 {
      // margin: auto;
      font-size: 40px;
      text-align: center;
      color: cornsilk;
      font-style: initial;
      font-family: cursive;
      animation: h1 1s ease-in-out infinite alternate;
    }
  }
  
  .cover-text2 {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%; 
    margin: auto;
    padding: 30px 50px;
    margin-bottom: 5%;
    // background-color: aquamarine;
  }
  
  .cover-p1 {
    margin: auto;
    display: flex;
    //-ms-flex: 100%;
    flex: 100%;
    text-align: left;
    width: 100%;
    margin-top: -3%;
    float: left;
    margin-bottom: 0%;
    margin-left: 3%;
    // background-color: violet;
  
    p {
      color: aquamarine;
      font-size: 22px;
      position: relative;
      text-decoration: underline;
      text-decoration-color: aquamarine;
      animation-name: slide;
      animation-duration: 4s;
    }
  
    @keyframes slide {
      0% {left: -100%}
      100% {left: 0%}
    }
  }
  
  .cover-p2 {
    margin: auto;
    display: block;
    // -ms-flex: 100%;
    flex: 100%;
    width: 100%;
    // max-width: 100%;
    margin: auto;
    float: right;
    margin-right: 3%;
    text-align: right;
    margin-top: 3%;
    margin-bottom: 0%;
    // background-color: aqua;
  
    p {
      color: aquamarine;
      font-size: 22px;
      position: relative;
      text-decoration: underline;
      text-decoration-color: aquamarine;
      animation-name: slide2;
      animation-duration: 4s;
    }
  
    @keyframes slide2 {
      0% {right: -100%}
      100% {right: 0%}
    }
  }

  .cover-text3 {
    padding: 0px 0px;
  }
}