.contact {
    // background-color: 'transparent';
    // background-color: aqua;
    min-height: 100vh;
    min-width: 100vw;
    display: block;
    justify-content: center;
    align-items: center;
  }

  .contact-header {
    // background-color: aquamarine;
    margin: auto;
    text-align: center;
    // border-bottom: 4px dotted gray;

    & > h3 {
      color: green;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 20px;
    }

    p {
      font-style: italic;
      color: #fff;
      font-size: large;
    }
  }

  .contact-header-2 {
    // background-color: aquamarine;
    margin: auto;
    text-align: center;
    margin-top: 0px;
    // border-bottom: 4px dotted gray;

    & > h3 {
      color: green;
      font-family: 'Times New Roman', Times, serif;
      margin-top: 0px;
    }

    p {
      font-style: italic;
      color: #fff;
      font-size: large;
    }
  }

  .contact-text-2 {
    margin: auto;
    text-align: left;
    // border-style: double;
    // border-radius: 10px;
    // border-color: dimgrey;
    // border-width: thick;
    // padding: 50px 50px;
    // background-color: dimgrey;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-left: 100px;

    & > * {
      color: white;
    }
  }
  
  .contact-text {
    margin: auto;
    text-align: left;
    border-style: double;
    border-radius: 10px;
    border-color: dimgrey;
    border-width: thick;
    padding: 10px 40px;
    // background-color: dimgrey;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    float: right;
    margin-right: 100px;

    & > * {
      color: lightgrey;
      font-size: large;
    }
    
    b {
      color: rgb(185, 129, 24);
      font-size: larger;
    }

    a {
      color: lightgray;
      font-size: large;
    }

  }

  @media screen and (max-width: 600px) {
    .contact {
      flex-direction: row;
    }
  
    .contact-text {
      display: block;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: auto;
      text-align: center;
    }

    .contact-text-2 {
      display: block;
      margin: auto;
      text-align: center;
      padding: 80px 160px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      float: right;
      margin-bottom: 50px;
      
      & > * {
        color: white;
      }

   }

  }