.home {
  background-color: rgb(0, 0, 0);
  min-width: 100vw;
  /*
  & nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
    & > .logo {
      color: #fff;
      rotate: 0deg;
    }
  }
  */
}

.home-2 {
  background-color: rgba(0,0,0,0.3);
  // background-color: rgba(255,255,255,0.5);
  min-height: 100vh;
}

.home-links {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 100px;
  & li a {
    display: block;
    color: #a8a8a8;
    padding: 20px 100px;
    text-decoration: none;
  }
  & > * {
    color: #fff;
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.hero-text {
  width: 50%;
  & > * {
    color: #fff;
    margin-bottom: 2rem;
  }
  & > h2 span {
    display: block;
  }
  & .hero-buttons a {
    color: #fff;
  }
}
*/
.hero-image {
  width: 50%;
  height: 50%;
}
@media screen and (max-width: 600px) {
  .t-nav {
    // padding: 20px 10px !important;
    margin: auto;
    width: 100vw;
    flex-direction: row;
    position: relative;

    & .logo{
      width: 100%;
    }
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  
  .hero {
    flex-direction: column;
  }
  
/*
  .hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;
  }
*/
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}

.hero-image2 {
  width: 50%;
  height: 50%;
  margin-top: 300px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .home {
    margin: auto;
  }
  
  .hero {
    flex-direction: column;
  }
  
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}

.hero-image3 {
  width: 50%;
  height: 50%;
  margin-top: 100px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}

.hero-image4 {
  width: 50%;
  height: 50%;
  margin-top: 350px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  
  .hero-image {
    width: 100%;
    &img {
      width: 100%;
    }
  }
}